* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--c1-hsl: 220deg 7% 90%;
	--c2-hsl: 220deg 7% 85%;
	--c3-hsl: 220deg 7% 80%;
	--c4-hsl: 220deg 7% 75%;
	--c5-hsl: 220deg 7% 65%;
	--c6-hsl: 220deg 7% 50%;
	--c7-hsl: 220deg 7% 35%;
	--c8-hsl: 220deg 7% 25%;
	--c9-hsl: 220deg 7% 15%;
	--c10-hsl: 220deg 7% 10%;

	--c1: hsl(var(--c1-hsl));
	--c2: hsl(var(--c2-hsl));
	--c3: hsl(var(--c3-hsl));
	--c4: hsl(var(--c4-hsl));
	--c5: hsl(var(--c5-hsl));
	--c6: hsl(var(--c6-hsl));
	--c7: hsl(var(--c7-hsl));
	--c8: hsl(var(--c8-hsl));
	--c9: hsl(var(--c9-hsl));
	--c10: hsl(var(--c10-hsl));

	--accent-hsl: var(--accent-h) 100% 60%;
	--accent: hsl(var(--accent-hsl));
	animation: rotate-accent 90s linear infinite;
}

@supports (background: paint(something)) {
	@property --accent-h {
		syntax: '<angle>';
		inherits: false;
		initial-value: 40deg;
	}
}

@keyframes rotate-accent {
	0%,
	100% {
		--accent-h: 40deg;
	}
	50% {
		--accent-h: 180deg;
	}
}

body {
	font-family: 'Source Code Pro', monospace;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	width: 100%;
	min-height: 100vh;
	background: var(--c10);
	color: var(--c1);
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--c1-hsl: 220deg 7% 10%;
		--c2-hsl: 220deg 7% 15%;
		--c3-hsl: 220deg 7% 20%;
		--c4-hsl: 220deg 7% 25%;
		--c5-hsl: 220deg 7% 30%;
		--c6-hsl: 220deg 7% 35%;
		--c7-hsl: 220deg 7% 45%;
		--c8-hsl: 220deg 7% 60%;
		--c9-hsl: 220deg 7% 70%;
		--c10-hsl: 220deg 7% 90%;
	}
}

a {
	color: inherit;
	text-decoration-color: var(--accent);
}

p {
	font-size: 0.875rem;
}
