* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --h: 240deg;
  --s: 8%;

  --c1-hsl: var(--h) var(--s) 80%;
  --c2-hsl: var(--h) var(--s) 75%;
  --c3-hsl: var(--h) var(--s) 70%;
  --c4-hsl: var(--h) var(--s) 65%;
  --c5-hsl: var(--h) var(--s) 55%;
  --c6-hsl: var(--h) var(--s) 40%;
  --c7-hsl: var(--h) var(--s) 25%;
  --c8-hsl: var(--h) var(--s) 18%;
  --c9-hsl: var(--h) var(--s) 10%;
  --c10-hsl: var(--h) var(--s) 8%;

  --c1: hsl(var(--c1-hsl));
  --c2: hsl(var(--c2-hsl));
  --c3: hsl(var(--c3-hsl));
  --c4: hsl(var(--c4-hsl));
  --c5: hsl(var(--c5-hsl));
  --c6: hsl(var(--c6-hsl));
  --c7: hsl(var(--c7-hsl));
  --c8: hsl(var(--c8-hsl));
  --c9: hsl(var(--c9-hsl));
  --c10: hsl(var(--c10-hsl));

  --accent-h: 40deg;
  --accent-hsl: var(--accent-h) 100% 60%;
  --accent: hsl(var(--accent-hsl));
  animation: rotate-accent 90s linear infinite;
}

@supports (background: paint(something)) {
  @property --accent-h {
    syntax: "<angle>";
    inherits: false;
    initial-value: 40deg;
  }
}

@keyframes rotate-accent {
  0%,
  100% {
    --accent-h: 40deg;
  }
  50% {
    --accent-h: 180deg;
  }
}

body {
  position: relative;
  font-family: "Inter", system-ui, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  min-height: 100vh;
  background: var(--c10);
  color: var(--c1);
  overflow-x: hidden;
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 1.125em;
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
  background: var(--c7);
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
*::selection {
  color: var(--c10);
  background: var(--accent);
}

img {
  display: block;
}

#root,
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Exo", sans-serif;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --c1-hsl: 220deg 7% 10%;
    --c2-hsl: 220deg 7% 15%;
    --c3-hsl: 220deg 7% 20%;
    --c4-hsl: 220deg 7% 25%;
    --c5-hsl: 220deg 7% 30%;
    --c6-hsl: 220deg 7% 45%;
    --c7-hsl: 220deg 7% 55%;
    --c8-hsl: 220deg 7% 80%;
    --c9-hsl: 220deg 7% 90%;
    --c10-hsl: 220deg 7% 95%;
    --accent-hsl: var(--accent-h) 100% 45%;
  }
  body::before {
    content: unset;
  }
}

a {
  color: inherit;
  text-decoration-color: var(--accent);
}
a:hover {
  color: var(--accent);
}

hr {
  display: block;
  width: 100%;
  margin-block: 2rem;
  height: 1px;
  background: var(--c9);
  border: none;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

iframe {
  display: block;
  border: none;
}

ul,
li {
  --padd: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

.page-title {
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1;
  color: var(--c6);
}
.page-title > span {
  display: block;
}
.page-title .underline {
  position: relative;
  color: var(--c1);
}
.page-title .underline::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.25rem;
  background: var(--accent);
}

.byline {
  display: flex;
  gap: 3ch;
  color: var(--c3);
  margin-block-start: 2.5rem;
  margin-block-end: 4rem;
}

.sections {
  display: grid;
  gap: 5rem;
  max-width: 100%;
}
.sections section {
  display: grid;
  gap: 1rem;
}
.sections .section-title {
  font-size: 2.75rem;
  line-height: 1;
  color: var(--c8);
  transform: translateX(-1.5vw);
}

.list {
  display: grid;
  gap: 2.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-item {
  --padd: 1.5rem;
}
.list-item > * {
  padding-left: var(--padd);
}
.list-item .title {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.8;
}
.list-item .title::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 0.25rem;
  background: var(--accent);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.list-item .title a {
  display: flex;
  align-items: center;
  gap: 0.75ch;
  text-decoration: none;
}

.list-item .title svg {
  flex-shrink: 0;
  fill: var(--accent);
  font-size: 1rem;
  transform: translateY(-0.125rem);
}

.list-item .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list-item .description {
  color: var(--c4);
}

.rating {
  display: flex;
  gap: 0.25rem;
}
.rating > * {
  width: 10px;
  height: 10px;
  background: var(--c9);
}

@media screen and (max-width: 768px) {
  ul,
  li {
    --padd: 1rem;
  }
  .page-title {
    font-size: 3.25rem;
  }
  .byline {
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 1.5rem;
    margin-block-end: 2.5rem;
  }
  .sections {
    gap: 2.75rem;
  }
  .sections section {
    gap: 0.5rem;
  }
  .sections .section-title {
    font-size: 2rem;
    transform: translateX(-3vw);
  }
  .list-item {
    --padd: 1rem;
  }
}
