* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--c1-hsl: 220deg 7% 90%;
	--c2-hsl: 220deg 7% 85%;
	--c3-hsl: 220deg 7% 80%;
	--c4-hsl: 220deg 7% 70%;
	--c5-hsl: 220deg 7% 65%;
	--c6-hsl: 220deg 7% 50%;
	--c7-hsl: 220deg 7% 35%;
	--c8-hsl: 220deg 7% 20%;
	--c9-hsl: 220deg 7% 15%;
	--c10-hsl: 220deg 7% 10%;

	--c1: hsl(var(--c1-hsl));
	--c2: hsl(var(--c2-hsl));
	--c3: hsl(var(--c3-hsl));
	--c4: hsl(var(--c4-hsl));
	--c5: hsl(var(--c5-hsl));
	--c6: hsl(var(--c6-hsl));
	--c7: hsl(var(--c7-hsl));
	--c8: hsl(var(--c8-hsl));
	--c9: hsl(var(--c9-hsl));
	--c10: hsl(var(--c10-hsl));

	--accent-h: 40deg;
	--accent-hsl: var(--accent-h) 100% 60%;
	--accent: hsl(var(--accent-hsl));
	animation: rotate-accent 90s linear infinite;
}

@supports (background: paint(something)) {
	@property --accent-h {
		syntax: '<angle>';
		inherits: false;
		initial-value: 40deg;
	}
}

@keyframes rotate-accent {
	0%,
	100% {
		--accent-h: 40deg;
	}
	50% {
		--accent-h: 180deg;
	}
}

body {
	position: relative;
	font-family: 'Source Code Pro', monospace;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	width: 100%;
	min-height: 100vh;
	background: var(--c10);
	color: var(--c1);
	overflow-x: hidden;
}
body::before {
	content: '';
	display: block;
	position: absolute;
	background-image: url(/grain.jpg);
	background-repeat: repeat;
	background-size: 100% auto;
	width: 100%;
	height: 100%;
	opacity: 0.15;
}
body > * {
	position: relative;
}

@media screen and (min-width: 1920px) {
	body {
		font-size: 1.125em;
	}
}

body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-thumb {
	background: var(--c7);
}
body::-webkit-scrollbar-thumb:hover {
	background: var(--accent);
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
span::selection,
a::selection {
	color: var(--c10);
	background: var(--accent);
}

#root,
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

main {
	box-sizing: content-box;
	position: relative;
	padding: 11vw;
	padding-bottom: 6vw;
	max-width: 60ch;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Exo', sans-serif;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		--c1-hsl: 220deg 7% 10%;
		--c2-hsl: 220deg 7% 15%;
		--c3-hsl: 220deg 7% 20%;
		--c4-hsl: 220deg 7% 25%;
		--c5-hsl: 220deg 7% 30%;
		--c6-hsl: 220deg 7% 45%;
		--c7-hsl: 220deg 7% 55%;
		--c8-hsl: 220deg 7% 80%;
		--c9-hsl: 220deg 7% 90%;
		--c10-hsl: 220deg 7% 95%;
		--accent-hsl: var(--accent-h) 100% 45%;
	}
	body::before {
		content: unset;
	}
}

a {
	color: inherit;
	text-decoration-color: var(--accent);
	transition: color 0.2s ease-in-out;
}
a:hover {
	color: var(--accent);
}

svg {
	display: block;
	width: 1em;
	height: 1em;
}

ul,
li {
	--padd: 1.5rem;
	list-style: none;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 768px) {
	ul,
	li {
		--padd: 1rem;
	}
}
li {
	position: relative;
}
.list-item-title {
	position: relative;
	padding-left: var(--padd);
}
.list-item-title::before {
	content: '';
	position: absolute;
	height: 0.25rem;
	width: 0.25rem;
	background: var(--accent);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.page-title {
	font-size: 4.5rem;
	text-transform: uppercase;
	line-height: 1;
	color: var(--c6);
}
.page-title > span {
	display: block;
}
.page-title .underline {
	position: relative;
	color: var(--c1);
}
.page-title .underline::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0.25rem;
	background: var(--accent);
}

@media screen and (max-width: 768px) {
	.page-title {
		font-size: 3.25rem;
	}
}

.byline {
	display: flex;
	gap: 3ch;
	color: var(--c3);
	margin-top: 2.5rem;
	margin-bottom: 5rem;
}
@media screen and (max-width: 768px) {
	.byline {
		flex-direction: column;
		gap: 1rem;
	}
}
