---
import Layout from '../components/Layout.astro';
import ProjectList from '../components/ProjectList.astro';
import '../styles/global.css';

const projects = [
	{
		url: 'https://xhair.vercel.app',
		title: 'xHair',
		description: `Web-based crosshair customization tool for Valorant, designed specifically to empower sharability`
	}
];
---

<Layout title="Misc. Projects - John Riordan">
	<h1 class="page-title">
		<span>Misc.</span>
		<span><span class="underline">stuff</span></span>
	</h1>
	<p class="byline">
		<span>
			Random little weekend projects with minimal thought/effort, mostly as a means to learn and
			explore ideas.
		</span>
	</p>
	<ProjectList {projects} />
</Layout>
