---
import Layout from '../components/Layout.astro';
import List from '../components/List.astro';
import PROJECTS from '../data/misc';

import '../styles/global.css';
---

<Layout title="Misc. Projects - John Riordan">
	<h1 class="page-title">
		<span>Misc.</span>
		<span><span class="underline">stuff</span></span>
	</h1>
	<p class="byline">
		<span>
			Random little weekend projects with minimal thought/effort, mostly as a means to learn and
			explore ideas.
		</span>
	</p>
	<List items={PROJECTS} />
</Layout>
