<footer>
	<a href="">iam.john.riordan@gmail.com</a>
	<a href="">Twitter</a>
	<a href="">LinkedIn</a>
</footer>

<style lang="scss">
	footer {
		display: flex;
		gap: 3rem;
		padding-top: 7rem;
		font-size: 0.75rem;

		a {
			text-decoration: none;
		}
	}
</style>
