---
import Header from './Header.astro';
import Footer from './Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&family=Source+Code+Pro:ital@0;1&display=swap"
			rel="stylesheet"
		/>

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	</head>
	<body>
		<main>
			<Header />
			<div class="content">
				<slot />
				<Footer />
			</div>
		</main>
	</body>
</html>

<style lang="scss">
	main {
		box-sizing: content-box;
		display: flex;
		align-items: flex-start;
		gap: 5rem;
		padding: 11vw;

		@media screen and (max-width: 1200px) {
			display: grid;
			padding: 12vw 10vw;
			gap: 2rem;
		}

		.content {
			max-width: 60ch;
		}
	}
</style>
