---
import Layout from '../../components/Layout.astro';
import FromNow from '../../components/FromNow.svelte';
import List from '../../components/List.astro';
import MOVIES from '../../data/movies';

import '../../styles/global.css';

const movies = MOVIES.map((movie) => {
	return {
		...movie,
		url: movie.imdb,
		external: true,
		postedPrefix: 'Watched',
		postedDate: movie.date,
		beforeHTML: `
      <iframe src="https://www.youtube.com/embed/${movie.youtube}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    `
	};
});
---

<Layout title="Music '23 - John Riordan">
	<h1 class="page-title">
		<span>2013</span>
		<span><span class="underline">Movies</span></span>
	</h1>
	<span class="byline">Updated <FromNow date={movies[0].date} client:load /></span>
	<div class="container">
		<div class="sections">
			<section>
				<h4 class="section-title">My 2023 movie history</h4>
				<p>
					This year is looking to be a good one for movies. 2022 was the unofficial "return to
					threaters" with the likes of Top Gun: Maverick, The Batman, Nope, and Avatar: The Way of
					Water. While not quite as big as the pre-covid days, the year was still strong and I'm
					hoping 2023 continues that.
				</p>
				<p>Here is a list of what I've watched so far this year.</p>
				<hr />
				<p class="note">
					🚨 Some of these may be late 2022 releases or things I saw at the very end of 2022 🚨
				</p>
				<hr />
				<List items={movies} />
			</section>
		</div>
	</div>
</Layout>

<style lang="scss">
	.container {
		display: grid;
		gap: 6rem;
	}
	img {
		width: 240px;
	}
	:global(iframe) {
		width: 100% !important;
		aspect-ratio: 16 / 9;
	}
	.note {
		color: var(--c5);
	}
</style>
